{% macro with_errors(field) %}
    {% if field.errors %}
        <div class="control">
            {{ field(invalid=True, **kwargs) }}
        </div>
        <span class="help is-danger">{{ ", ".join(field.errors)|e }}</span>
    {% else %}
        <div class="control">
            {{ field(**kwargs) }}
        </div>
    {% endif %}
{% endmacro %}
