{% extends "blog/base.j2" %}

{% from "macros.j2" import with_errors %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path="/css/tagify.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', path="/css/dropzone.min.css") }}">
    <script defer src="{{ url_for('static', path="/js/tagify.min.js") }}"></script>
    <script defer src="{{ url_for('static', path="/js/dropzone.min.js") }}"></script>
    <script defer src="{{ url_for('static', path="/js/new-post.js") }}"></script>
{% endblock %}

{% block title %}Create new blog{% endblock title %}

{% block content %}
    <br />
    <form class="box" method="POST" action="{{ request.url }}" role="form">
        <fieldset>
            <legend>{% block legend %}Create new blog post{% endblock legend %}</legend>
           <br/>
            <div class="field">
                <label class="label" for="title">
                    {{ form.title.label.text }}
                </label>
                {{ with_errors(form.title, ) }}
            </div>

            <div class="field">
                <label class="label" for="tags">
                    {{ form.tags.label.text }}
                </label>
                {{ with_errors(form.tags, type="tags", data_tags_whitelist=existing_tags.decode()) }}
            </div>

            <div class="field">
                <label class="label" for="content">
                    {{ form.content.label.text }}
                </label>
                {{ with_errors(form.content, ) }}
            </div>

            <div class="field">
                <button type="submit" class="button is-link">Submit</button>
            </div>
        </fieldset>
    </form>
    <br/>
    <form action="{{ url_for('image_upload') }}" class="dropzone box" id="image-upload-dropzone" data-existing-images="{{ existing_images.decode() }}"></form>
{% endblock %}
