{% from "blog/links.j2" import tag_link with context %}

{% macro blog_preview(blog, content, url) -%}
    <article class="post box">
        <header class="post-header">
            <h2><a class="title" href="{{ url }}">{{ blog.title }}</a></h2>
            <p class="post-meta">
                Posted on {{ blog.creation_date }}
                {% for tag in blog.tags -%}
                    {% if loop.first %}
                        under
                    {% endif %}
                    {{ tag_link(tag) }}
                {%- endfor %}
            </p>
        </header>
        <br />
        <div class="post-description">
            <p>
                {{ content | safe }}
            </p>
        </div>
    </article>
{%- endmacro %}
