{% extends "blog/base.j2" %}

{% from "blog/links.j2" import tag_link with context %}

{% block title %}{{ blog.title }}{% endblock title %}
{% block og_title %}{{ blog.title }}{% endblock %}

{% block style %}
    {{ super() }}
    <script defer src="{{ url_for('static', path="/js/base.js") }}"></script>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
    {% if can_edit(request) %}
        <a class="button is-primary" href="{{ url_for("EditBlog", id=blog.id) }}">Edit</a>
        <a class="button is-danger" href="{{ url_for("blog_delete", id=blog.id) }}" data-confirm="are you sure?">Delete</a>
        <br />
        <br />
    {% endif %}

    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth"></div>
            <div class="posts column is-three-fifths">
                <article class="post box">
                    <header class="post-header">
                        <h2><a class="title" href="{{ url }}">{{ blog.title }}</a></h2>
                        <p class="post-meta">
                            Posted on {{ blog.creation_date }}
                            {% for tag in blog.tags -%}
                                {% if loop.first %}
                                    under
                                {% endif %}
                                {{ tag_link(tag) }}
                            {%- endfor %}
                        </p>
                    </header>
                    <br />
                    <div class="post-description">
                        {{ rendered | safe }}
                    </div>
                </article>
            </div>
        </div>
    </section>

{% endblock %}
